<%- include('../partials/header') %>

<h1><%= title %></h1>
<p>Student ID: <%= student.id %></p>
<p>Name: <%= student.name %></p>
<p>email: <%= student.email %></p>
<p>Age: <%= student.age %></p>
<p>Course: <%= student.course %></p>
<%- include('../partials/footer') %>
